@font-face {
  font-family: 'Ermilov';
  src: url('shared/fonts/Ermilov-bold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-size: 18px;
}
